.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    background-color: #213555;

    &__logo {
        display: grid;
        place-items: center;
        height: 120px;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Mochiy Pop P one', sans-serif;

        &__img {
            height:20px
        }
    }

    &__bottom {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;

        &__avatar {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: #D8C4B6;
            opacity: 0.7;

            &__p{
                text-align: center;
                font-size: 30px;
                margin-top: 11px;
            }
        }

        &__role_1 {
            color: white;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 10px;
            cursor: pointer;
        }
        &__role_2 {
            color: white;
            font-size: 12px;
            margin-top: 5px;
            margin-left: 10px;
        }
    }

    &__menu {
        position: relative;
     
        &__item {
            display: flex;
            text-decoration:none;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #D8C4B6;
            transition: color 0.3s ease-in-out;

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }

            &.active {
                color: #213555;
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-color: #4F709C;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }
}